@import url("https://fonts.googleapis.com/css?family=Lora|Roboto");

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/card.css");
@import url("components/navbar.css");
@import url("components/pricing.css");
@import url("components/testimonial.css");
@import url("components/footer.css");
@import url("components/trust.css");

body {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    /* background-color: #F7F9FC;*/

}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

a {
    font-size: 16px;
}






